/* Pengaturan Halaman Utama */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Pengaturan Bagian Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    background-color:darkmagenta;
    color :#fff;
}

/* Pengaturan Bagian header */
header {
    background-color: darkolivegreen;
    color : white;
    text-align: center;
    padding : 50px 20px;
}

header h1{
    font-size: 36px;
    margin-bottom: 10px;
}

header p{
    font-size: 18px;
}

/* Pengaturan Navigasi */
nav {
    background-color: darkviolet;
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 15px;
}

nav a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover{
    color: chocolate;
}

/* Pengaturan Main */
section {
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px;
}

section h2{
    color:azure;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

section p{
    margin-bottom: 15px;
}

.hero {
    max-width: 100%;
    text-align: center;
    background-color: darkblue;
    padding: 80px 20px;
}

button {
    background-color: rgb(17, 10, 2);
    color: #fff;
    border: none;
    padding: 13px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;    
}

button:hover{
    background-color: blueviolet;
    transform:scale(1.05);
}


